<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="module-id">Name:</label>
        <input type="text" class="module-id input setting-input" id="id_name"/>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="module-title">Link:</label>
        <input type="url" class="module-title input setting-input" id="id_link"/>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="module-description">Description:</label>
        <input type="text" class="module-description input setting-input" id="id_description"/>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="shared-key">Reference type:</label>
        <input type="text" class="shared-key input setting-input" id="id_ref_type"/>
      </div>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="base-url">Reference status:</label>
        <input type="text" class="base-url input setting-input" id="id_ref_status"/>
      </div>
    </li>

  </ul>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <button type="submit" id="submit" name="submit" class="button action-primary save-button">Create</button>
      </li>
      <li class="action-item">
        <button class="button cancel-button">Cancel</button>
      </li>
    </ul>
  </div>
</div>

